/* index.css for global style */
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;700&display=swap');

/* App Container */
:root {
  font-family: 'Caveat', cursive;
  font-size: 1.3rem;
  word-spacing: 5px;
  background-image: url("/public/background.jpg");
  background-size: cover;
  background-repeat: no-repeat; 
  height: 100%;
 }
 html, body {
  font-family: 'Caveat', cursive;
  margin: 0;
}
/* Settings Container */
.settings-container {
  background-color: rgba(232, 233, 212, 0.248);
  border: 1px solid rgba(255, 255, 255, 0.448);
  padding: 50px;
  margin-top: 100px;
 }

 /* Question and Answers Container */

 .question-box {
  height: 300px;
  margin-top: 30px;
  background-image: url("/public/bg-question.png");
  background-size: 98% 300px ;
  background-repeat: no-repeat;
  background-position-y: 15px ;
  display: flex;
  align-items: center;
  justify-content: center;
 }
 .question-box h2 {
  text-align: center;
  margin-bottom: 50px;
  width: 60%; 
 }
 .question-strong {
  font-weight: 800;
 }
 .ans-button-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  justify-items: center;
  align-items: center;
  margin-top: 40px;
}
.ans-button-grid > button {
  margin-top: 10px;
  width: 60%;
  border: 2px solid white;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0 0 20px 3px black;
}
.score-keeper {
  margin-top: 70px;
}
.score-keeper > h2 {
  color: rgb(243, 234, 234);
  font-size: 30px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/* Table */
.leaderboard-container {
  box-shadow: 1px 0 0 5px black;
  width: 98%;
  height: 25em;
  overflow: scroll;
}
.leaderboard-heading {
  font-size: 1.8em;
}

/* Home */
.home-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 4em;
}
.user-detail-container {
  background-color: rgba(232, 233, 212, 0.248);
  border: 1px solid rgba(255, 255, 255, 0.448);
  border-radius: 10px;
  height: 15em;
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-heading {
  font-size: 5.5em;
  text-shadow: 0 5px 5px white;
  margin-top: 0;
}

/* Navbar */
.navbar {
  /* background-color: rgba(33, 55, 196, 0.62); */
  border-bottom: 1px solid rgba(0, 0, 0, 0.169);
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
  padding: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 5px;
}
.nav-home {
  color: white;
  font-size: 1.2em;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.nav-home:hover {
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.6);
}
.nav-leaderboard{
  color: white;
  font-size: 1.2em;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.nav-leaderboard:hover {
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.6);
}
.nav-settings{
  color: white;
  font-size: 1.2em;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.nav-settings:hover {
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.6);
}

/* Media specific */
@media all and (max-width: 41100px) {
 /* Home */
 .user-detail-container {
  height: 10em;
  width: 50%;
  margin-top: 4em;
}
.home-heading {
  font-size: 2.5em;
}
/* question  */
.score-keeper > h2 {
  font-size: 25px;
}
.score-keeper {
  margin-top: 20px;
}
.question-box {
  background-size: 98% 305px ;
  font-size: 0.75em;
  margin-top: 10px;
 }
 /* Answers */
 .ans-button-grid > button {
  font-size: 0.75em;
  margin-top: 2px;
  width: 70%;
  height: 70%;
}
 /* Result */
.leaderboard-container {
  width: 98%;
  height: 20em;
  overflow: scroll;
}
.leaderboard-heading {
  font-size: 1.5em;
}
}

@media all and (max-width: 7750px) {
/* Home */
.user-detail-container {
  height: 10em;
  width: 17em;
  margin-top: 4em;
}
.home-heading {
  font-size: 2.5em;
}
/* question  */
.score-keeper > h2 {
  font-size: 25px;
}
.score-keeper {
  margin-top: 20px;
}
.question-box {
  background-size: 98% 305px ;
  font-size: 0.75em;
  margin-top: 10px;
 }
 /* Answers */
 .ans-button-grid > button {
  font-size: 0.75em;
  margin-top: 2px;
  width: 70%;
  height: 70%;
}
 /* Result */
.leaderboard-container {
  width: 98%;
  height: 20em;
  overflow: scroll;
}
.leaderboard-heading {
  font-size: 1.5em;
}
}

@media all and (max-width: 4550px) {
  /* Home */
  .user-detail-container {
    height: 10em;
    width: 17em;
    margin-top: 4em;
  }
  .home-heading {
    font-size: 2.5em;
  }
  /* question  */
  .score-keeper > h2 {
    font-size: 25px;
  }
  .score-keeper {
    margin-top: 20px;
  }
  .question-box {
    background-size: 98% 305px ;
    font-size: 0.75em;
    margin-top: 10px;
   }
   /* Answers */
   .ans-button-grid > button {
    font-size: 0.75em;
    margin-top: 2px;
    width: 70%;
    height: 70%;
  }
   /* Result */
  .leaderboard-container {
    width: 98%;
    height: 20em;
    overflow: scroll;
  }
  .leaderboard-heading {
    font-size: 1.5em;
  }
} 

/*++++++++++++++++++++++++++++++++ Current working  ++++++++++++++++++++++++++++++++*/


@media all and (max-width: 576px) {
  /* Nav */
  .navbar {
    padding: 10px;
    margin-top: 2px;
  }
  .nav-leaderboard {
    font-size: 1em;
  }
  .nav-settings {
    font-size: 1em;
  }
  /* Home */
  .user-detail-container {
    height: 10em;
    width: 98%;
    margin-top: 1em;
  }
  .home-heading {
    font-size: 2em;
    margin-bottom: 2em;
  }
  /* Settings Container */
.settings-container {
  padding: 20px;
  margin-top: 50px;
 }
 .question-select-field{
  font-size: .75em !important;
 }
  /* question  */
  .score-keeper > h2 {
    font-size: 1.1em;
  }

  .question-box {
    background-size: 98% 94% ;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.70em;
   }
   .questions-btn {
    font-size: 0.6em !important;
   }
   /* Answers */
   .ans-button-grid > button {
    font-size: 0.5em;
    width: 150px; 
    height: 40px; 
  }
   /* Result */
  .leaderboard-container {
    width: 98%;
    overflow: scroll;
  }
  .leaderboard-heading {
    font-size: 1.5em;
  }
  .display-result {
    font-size: 1.2em;
  }
  .result-btn {
    font-size: .7em !important;
  }
  /* Table */
  .table-cell-heading {
    font-size: 0.6em !important;
  }
  .table-cell {
    font-size: 0.5em !important;
  }
}

